@import './scss/fonts.scss';
 @import './scss/colors.scss';
 @import './scss/typography.scss';
 @import './scss/breakpoints.scss';

 html{
   font-size: $mainFontSize;
   line-height: $mainLineHeight;
 }

 body {
   font-family: $mainFontFamily;
   color: $mainColor;
   margin: 0;
   padding: 0 12px;
 }
 
